.input-option {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: grey;
  padding: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease;
}

.input-option:hover {
  /* background-color: whitesmoke; */
  border-radius: 10px;
  opacity: 1;
}

.input-option > h4 {
  margin-left: 5px;
}
