* {
  margin: 0;
}

.app {
  background: linear-gradient(to bottom, white, #bdbdbd);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  min-height: 100vh;
}

.app_body {
  display: flex;
  width: 100%;
  max-width: 1245px;
  justify-content: center;
}
